@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

/*----------  base
------------------------------------------------------------------------------*/
@import "base/reset";
@import "base/variables";
// @import "base/colors";
@import "base/typography"; 

/*----------  helpers
------------------------------------------------------------------------------*/
// @import "helpers/mixins";   
// @import "helpers/functions"; 

/*----------  components
------------------------------------------------------------------------------*/
// @import "components/cover";
// @import "components/icons";
// @import "components/buttons";
// @import "components/carousel";
// @import "components/dropdown";
// @import "components/navigation";
/*----------  libs
------------------------------------------------------------------------------*/

/*----------  layout
------------------------------------------------------------------------------*/
// @import "layout/forms";
@import "layout/header"; 
// @import "layout/footer";    
// @import "layout/sidebar";  
// @import "layout/grid";  
  

/*----------  pages
------------------------------------------------------------------------------*/

/*----------  themes
------------------------------------------------------------------------------*/

/*----------  vendors
------------------------------------------------------------------------------*/ 

 
* {
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0,0);
    border: 0;
}

body {
    background-color: $neutral_lvl_3;
}


form {
    background-color: $neutral_lvl_1;
    background-color: yellow;
    border-radius: 12px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; 
    // border: 1px solid red;   
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
}

.container-1 {
    padding-left: 8px;
    padding-right: 8px;
} 
.input-group {
    margin-bottom: 30px;
    &:nth-of-type(2) {
        margin-bottom: 21px; 
    }
}
.input-group > label {
   color: $neutral_lvl_5;
   font-weight: 700;
   display: block; 
   margin-bottom: 8px;
}
.input-group:first-of-type {
    padding: 5px 0;
}

input:not(#custom-radio) {
    width: 100%;
    padding: 5px 16px 5px 16px;
    border: unset;
    background-color: $neutral_lvl_2;
    border: 2px solid $neutral_lvl_2;
    text-align: right;
    color: $neutral_lvl_6;
    border-radius: 5px;
    &:focus-visible {
        outline: unset;
    }
    &:focus {
        outline: unset;
        border: 2px solid $accent_prim;
    }
    &:hover {        
        border: 2px solid $accent_prim;
    }
}

.input-field-wrapper {
    position: relative;
    img {
        position: absolute;
        top: 15px;
        left: 18px;
    }
}

.tip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style-type:none;
    margin: 20px 0 0 0;
    padding: 0;
}
.tip li {
    margin: 0 0 16px 0;
    width: 147px;
    height: 48px;
    position: relative;
    // background:$neutral_lvl_6;
    border-radius: 5px;
}
.tip label, .tip input {
    position:absolute;
    display: block;
    top:0;
    left:0;
    right:0;
    bottom:0;    
}

.tip input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.tip input[type="radio"] + label {
    background:$neutral_lvl_6;
}

.tip input[type="radio"]:checked + label {
    // background:yellow;
    background: $accent_prim;
}


.tip label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    color: $neutral_lvl_1;
    border-radius: 5px;
    // border:1px solid red; 
    cursor:pointer;
    z-index:90;
    font-size: 24px;
}

// .tip label:hover {
//      background:#DDD;
// }


.test {
    display: none;
}

#custom-radio {
    border: 2px solid $neutral_lvl_2;
    border-radius: 5px;
    color: $neutral_lvl_6;
    text-align: right;
    padding-right: 14px;
    background-color: $neutral_lvl_2;    

    &:focus {
        outline: unset;
        border: 2px solid $accent_prim;
        color: $neutral_lvl_6;
    }
    &:hover {        
        border: 2px solid $accent_prim;
    }
}

.container-2 {
    background-color: $neutral_lvl_6;
    border-radius: 16px;
    padding: 24px;
    padding-top: 44px;
    .result-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 24px;
    }
    .label {
        display: block;
        margin-bottom: 8px;
        color: $neutral_lvl_1;
    }
    .label-secondary {
        font-size: 14px;
        letter-spacing: -0.04em;
    }
    .result {
        display: flex;
        p {
            font-size: 32px; 
            color: $accent_prim;
        }
    }
    // .dollar-icon {
    //     font-size: 32px;
    // }
}