@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

/*----------  base
------------------------------------------------------------------------------*/
@import "base/reset";
@import "base/variables";
@import "base/typography";  

/*----------  components
------------------------------------------------------------------------------*/
// @import "components/buttons";


/*----------  layout
------------------------------------------------------------------------------*/
// @import "layout/forms";
@import "layout/header";

  


 
* {
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0,0);
    border: 0;
}

.hide {
    display: none;
}

body {
    background-color: $neutral_lvl_3;
}


form {
    background-color: $neutral_lvl_1;
    border-radius: 22px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; 
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
}

.container-1 {
    padding-left: 8px;
    padding-right: 8px;   
} 
.input-group {
    margin-bottom: 30px;
    &:nth-of-type(2) {
        margin-bottom: 21px; 
    }
}
.input-group > label {
   color: $neutral_lvl_5;
   font-weight: 700;
   display: block; 
   margin-bottom: 8px;
}

.input-group:first-of-type {
    padding: 5px 0;
}

input:not(#custom-radio) {
    width: 100%;
    padding: 5px 16px 5px 16px;
    background-color: $neutral_lvl_2;
    border: 2px solid $neutral_lvl_2;
    text-align: right;
    color: $neutral_lvl_6;
    border-radius: 5px;
    &:focus-visible {
        outline: unset;
    }
    &:focus {
        outline: unset;
        border: 2px solid $accent_prim;
    }
    &:hover {        
        border: 2px solid $accent_prim;
        cursor: pointer;
    }
}

input.has-error:not(#custom-radio) {
    border: 2px solid $error;
    &:focus {
        border: 2px solid $error;
    }
}

.input-field-wrapper {
    position: relative;
    img {
        position: absolute;
        top: 15px;
        left: 18px;
    }
}

.tip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style-type:none;
    margin: 12px 0 0 0;
    padding: 0;
}
.tip li {
    margin: 0 0 16px 0;
    width: 147px;
    height: 48px;
    position: relative;
    // background:$neutral_lvl_6;
    border-radius: 5px;
}
.tip label, .tip input {
    position:absolute;
    display: block;
    top:0;
    left:0;
    right:0;
    bottom:0;    
}

.tip input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.tip input[type="radio"] + label {
    background:$neutral_lvl_6;
}

.tip input[type="radio"]:checked + label,
.tip input[type="radio"]:hover + label {
    background: $accent_prim;
}

.tip label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    color: $neutral_lvl_1;
    border-radius: 5px;
    cursor:pointer;
    z-index:90;
    font-size: 24px;
}


input.custom-radio:-webkit-autofill, 
input.custom-radio:-webkit-autofill:focus {
    -webkit-text-fill-color: $neutral_lvl_6 !important;
  }

.custom-radio {
    border: 2px solid $neutral_lvl_2;
    border-radius: 5px;
    color: $neutral_lvl_6;
    text-align: right;
    padding-right: 14px;
    background-color: $neutral_lvl_2;    

    &:focus {
        outline: unset;
        border: 2px solid $accent_prim;
        color: $neutral_lvl_6;
    }
    &:hover {        
        border: 2px solid $accent_prim;
        cursor: pointer;
    }
}

.custom-radio-accent, .custom-radio-accent:focus {
    border: 2px solid $accent_prim;
    color: $neutral_lvl_6;
}

.custom-radio-has-error, .custom-radio-has-error:focus {
    border: 2px solid $error;
}

.container-2 {
    background-color: $neutral_lvl_6;
    border-radius: 16px;
    padding: 24px;
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    .result-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 24px;
    }
    .label {
        display: block;
        margin-bottom: 8px;
        color: $neutral_lvl_1;
    }
    .label-secondary {
        font-size: 14px;
        letter-spacing: -0.04em;
        color: $neutral_lvl_5;
    }
    .result {
        display: flex;
        p {
            font-size: 32px; 
            color: $accent_prim;
        }
    }
}

button {
    display: block;
    height: 50px;
    width: 280px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 8px;
    color: $neutral_lvl_6;
    // background-color: $accent_prim;
    background-color: #0D686D;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}
button.reset-active {
    background-color: $accent_prim;
}

.container-1 .input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-field-wrapper {
    width: 100%;
}

.error, .error-custom {
    color: $error;
}

@media screen and (min-width: 376px) {
    .tip {        
        justify-content: center;
    }
    .tip li {
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media screen and (min-width: 800px) {
    form {
        padding: 32px;
        border-radius: 22px;
        flex-direction: row;
        max-width: 920px;
        margin-left: auto;
        margin-right: auto;
    }
    .tip {        
        justify-content: space-between;
    }
    .tip li {
        width: 116px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .container-1, .container-2 {
        flex: 1 1 0px;
    }
    .container-1 {
        padding: 12px 0px;
        margin-right: 48px;
        margin-left: 16px;
        // margin-right: 44px;
    }
    .container-2 {
       max-width: 413px;
       padding: 40px;
       padding-top: 52px;
       .label {
            margin-bottom: 8px;
            margin-top: 8px;
       }
       .result-container {
        margin-bottom: 42px;
       }
       .result {
        align-items: flex-end;
       }
       .result p {
        font-size: 48px;
        letter-spacing: -0.02em;
       }
    }
    .input-group {
        margin-bottom: 40px;
        &:nth-of-type(2) {
            margin-bottom: 28px; 
        }
        &:nth-of-type(3) {
            margin-bottom: 2px; 
        }
    }    
    button {
        margin-top: auto;
        height: 46px;
        width: 334px;
    }
}