
// ----- Font family-----
$ffamily_primary: 'Space Mono';
// $ffamily_accent: 'Raleway';

// ----- Font size-----
$fsize_primary: 16px;
$fsize_accent: 24px;

// ----- Colors -----

// lvl1 to lvl...  - from lightest to darkest
$accent_prim:  hsl(172, 67%, 45%);

$neutral_lvl_1: hsl(0, 0%, 100%);
$neutral_lvl_2: hsl(189, 41%, 97%);
$neutral_lvl_3: hsl(185, 41%, 84%);
$neutral_lvl_4: hsl(184, 14%, 56%);
$neutral_lvl_5: hsl(186, 14%, 43%);
$neutral_lvl_6: hsl(183, 100%, 15%);


// $primary_lvl_1: hsl(238, 22%, 44%);
// $accent_sec: hsl(170, 45%, 43%);
// $hover: #6B9BFF;

